{% extends 'easter_egg_college/base_egg_college.html' %}
<html lang="en">

{% block title %}
Home
{% endblock %}

{% block style %}
<style>
    .margin_1 {
        margin-left: 10px;
    }
</style>
{% endblock %}


{% block content %}
<div class="margin_1">
    <p>Welcome to the easter egg home page for the college board requirements!</p>
    <p>We look to achieve the following</p>
    <ul>
        <li>Document for College Board Requirements</li>
        <li>A page for "who am I in computer science"</li>
    </ul>

    <p>Select the buttons to see the user flow for the webpage</p>
</div>
{% endblock %}