{% extends 'easter_egg/base_egg.html' %}
<html lang="en">

{% block title %}
Order Now
{% endblock %}

{% block content %}
<table style="width:100%">
    <tr>
        <th>Food</th>
        <th>Image</th>
        <th>Cost</th>
        <th>Add to Cart</th>
    </tr>
    <tr>
        <td>Pepperoni Pizza</td>
        <td>Soon</td>
        <td>$3.50</td>
        <td> <button> + </button> </td>
    </tr>
    <tr>
        <td>Cheese Pizza</td>
        <td>Soon</td>
        <td>$3.50</td>
        <td> <button> + </button> </td>
    </tr>
</table>

<style>
    table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 15px;
}
th {
  text-align: left;
}
table {
  border-spacing: 5px;
}



</style>
{% endblock %}