<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title></title>
    {% endblock %}
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>

<body>
    <!-- this is the nav bar -->
    <div class="topnav">
        <a class="home" href="{{url_for('.index')}}">Home</a>
        <a href="{{url_for('.men')}}">Men</a>
        <a href="{{url_for('.women')}}">Women</a>
        <a href="{{url_for('.signup')}}">Database</a>
        <a href="{{url_for('.contactus')}}">Contact Us</a>
    </div>
    {% block content %}{% endblock %}
</body>
</html>