<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}

{% if 'name' in data %}
{% set name = data['name'] %}
{% endif %}


{% if 'tag' in data %}
{% set tag = data['tag'] %}
{% endif %}

{% if 'description' in data %}
{% set description = data['description'] %}
{% endif %}

{% if 'size' in data %}
{% set size = data['size'] %}
{% endif %}

{% if 'price' in data %}
{% set price = data['price'] %}
{% endif %}

<!--This is where the information comes in-->
{{name}}
{{tag}}
{{descprition}}
{{size}}
{{price}}


{% endblock %}