<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #193347;
  color: Navy;
}

.topnav a.active {
  background-color: #3d77a6;
  color: blue;
}
</style>
</head>
<body>

<div class="topnav">
    <a class="" href="">Socks</a>
    <a href="">Shirts</a>
    <a href="">Shorts</a>
    <a href="">Jackets</a>
</div>
<div class="row courses-buttons justify-content-center">

    <form method="POST" ID="myForm"  >
        <table>
            <tr>
                <th>Name</th>
                <th>Password</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
            <tr>
                <th><input type="text" name="username"></th>
                <th><input type="text" name="password"></th>
                <th><input type="text" name="email"></th>
                <th><input type="text" name="phone_number"></th>
                <th><input type="submit" value="Add"></th>
            </tr>
        </table>
    </form>

</div>
</div>
<div style="padding-left:10px">
    <h2>Choose what item you want to shop for</h2>
    <p>blah blah, something about how our stuff is good.</p>
</div>

</body>
</html>
