<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>P5-Tacos-404</title>
    <link rel="icon" href="../static/images/favicons/taco_noback.gif">
</head>
<body style="margin-left: 15px">

<h1>404: Page not Found</h1>
<p style="max-width: 400px">We recently change the file organization of our program nad many of the time to thrift links have broke. Be sure to add /time_to_thrift/ into the url to attempt to get back to your page</p>
<a href="{{url_for('time_to_thrift_bp.index_TT')}}">Back to Homepage</a>
<br>
<a href="https://github.com/P5-Tacos/P5-Tacos-thrift-store" target="_blank">See Documentation</a>
</body>
</html>