<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Time to Thrift - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style_base.css" type="text/css">
    <link rel="icon" href="../static/images/favicons/shirt_noback.gif">

    {% block style %}

    {% endblock %}
</head>

<body>
    <!-- this is the nav bar -->
    <div class="topnav">
        <h1 style="color: #f2f2f2; margin-left: 15px; margin-bottom: 10px"> Time to Thrift</h1>

        <a class="home" href="/">Home</a> <!--do not use url_for() this sill break the template when navigating to makeup_landing-->
        <a href="/storefront">Store Front</a> <!--do not use url_for() this sill break the template when navigating to makeup_landing-->
        <a href="/database">Database</a> <!--do not use url_for() this sill break the template when navigating to makeup_landing-->
        <a href="{{url_for('makeup_api_bp.makeup_landing')}}">Make Up</a>
        <a href="/contactus">Contact Us</a> <!--do not use url_for() this sill break the template when navigating to makeup_landing-->
        <a href="/reactiontest">Reaction Test</a><!-- Brayden actually did some work here, can you believe it ?!?!?!-->
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="/logged_in">Shopping Cart</a>

    </div>
    {% block content %}{% endblock %}
</body>
</html>