<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title></title>
    {% endblock %}
    <link rel="stylesheet" href="../static/css/style_base.css" type="text/css">

    {% block style %}

    {% endblock %}
</head>

<body>

<div style="margin-left: 20px; margin-bottom: 5px;">
    <h1  style= "margin-bottom: 10px;"> Time to Thrift</h1>
</div>
    <!-- this is the nav bar -->
    <div class="topnav">
        <a class="home" href="{{url_for('.index')}}">Home</a>
        <a href="{{url_for('.storefront')}}">Store Front</a>
        <a href="{{url_for('.shopowner')}}">Database</a>
        <a href="{{url_for('.contactus')}}">Contact Us</a>
    </div>
    {% block content %}{% endblock %}
</body>
</html>