<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Time to Thrift - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style_base.css" type="text/css">
    <link rel="icon" href="../static/images/favicons/shirt_noback.gif">
    {% block meta %}{% endblock %}

    <style>
        div.sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            font-size: 20px;
            z-index: 10;
        }
        /* this is the id for the items within the cart*/
        #quanity_1 {
            margin-top: -30px;
            margin-left: 40px;
        }
        #title_top {
            color: #f2f2f2;
            margin-left: 15px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <!-- this is the nav bar -->
    <div class="sticky">
        <div class="topnav">
            <h1 id="title_top"> Time to Thrift</h1>

            <a class="home" href="{{url_for('time_to_thrift_bp.index_TT')}}">Home</a> <!--do not use url_for() this sill break the template when navigating to makeup_landing-->
            <a href="{{url_for('time_to_thrift_bp.storefront')}}">Store Front</a> <!--do not use url_for() this sill break the template when navigating to makeup_landing-->
            <!--<a href="{{url_for('database_items_bp.shop_owner')}}">Database</a>--> <!--do not use url_for() this sill break the template when navigating to makeup_landing-->
            <a href="{{url_for('makeup_api_bp.makeup_landing')}}">Make Up</a>
            <a href="{{url_for('time_to_thrift_bp.contactus')}}">Contact Us</a> <!--do not use url_for() this sill break the template when navigating to makeup_landing-->
            <a href="{{url_for('time_to_thrift_bp.reactiontest')}}">Reaction Test</a><!-- Brayden actually did some work here, can you believe it ?!?!?!-->
            {% if current_user.is_anonymous  %}
            <a href="{{url_for('time_to_thrift_bp.login')}}">Login</a>
            <a href="{{url_for('time_to_thrift_bp.signup')}}">Sign Up</a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="{{url_for('database_items_bp.shop_owner')}}">Upload</a>
            <a href="{{ url_for('time_to_thrift_bp.logoutt') }}">Logout</a> <!-- logoutt-->
            {% endif %}<!--do not use url_for() this sill break the template when navigating to makeup_landing-->
            <a id="shopping_cart_alt" href="{{url_for('time_to_thrift_bp.logged_in')}}" onmouseover="onHover();" onmouseout="offHover();" >
                <img id="menuImg1" src="../static/images/user_dashboard/shopping-cart-white.svg" alt="Shopping Cart" width="25px">
                <div id="quanity_1"> {{display_cart|length}} </div>
            </a>
            <!--<a href="/logged_in"><img src="../static/images/user_dashboard/shopping-cart-white.svg" alt="Shopping Cart" width="25px"><div style="margin-top: -30px; margin-left: 40px;"> {{display_cart|length}} </div></a>-->
        </div>
    </div>
</body>

{% block style %}{% endblock %}
<body style="z-index: 0;">
{% block content %}{% endblock %}
</body>


<script>
    //code to ensure that the shopping cart contrasts with the on hover actions
    var onHover = function (){
        //changes the shopping cart to black
        document.getElementById("menuImg1").src = "../static/images/user_dashboard/shopping-cart-black.svg";
        document.getElementById("shopping_cart").style.color = "black";
    };

    var offHover = function (){
        //changes the shooting cart to wheel
        document.getElementById("menuImg1").src = "../static/images/user_dashboard/shopping-cart-white.svg";
    };
</script>
</html>