{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
<title xmlns="http://www.w3.org/1999/html">Database</title>
{% endblock %}

{% block style %}
    <style>
        body {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }

        .container {
          overflow: hidden;
          background-color: green;
          margin-left: auto;
            margin-right: auto;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

    </style>

{% endblock %}

{% block content %}
<div class="center">
    <div class="container"> <!-- form to add in data -->
    <form class="form-append" method="POST" action="/database">
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading">Please append data</h2>
        {{wtf.form_field(form.name)}}
        {{wtf.form_field(form.type)}}
        {{wtf.form_field(form.price)}}
        {{wtf.form_field(form.image)}}
        <button class="btn btn-lg btn-primary btn-block" type="submit">appened</button>
    </form>
    </div>
</div>

<div class="jumbotron jumbotron-fluid" style="height: 50%; ">

    <div class="row justify-content-center">
        <div class="col-10" style="text-align: center;">
            <h1>Sample Table</h1>
        </div>
    </div>

    <!-- Table block is dependent on table variable and dictionary setup -->
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th></th><!-- this is the column with the delete button icons -->
        </tr>
        <!-- Loop through rows in table -->
        {% for row in table %}
        <!-- build elements in table -->
        <tr>
            <th>{{row['id']}}</th>
            <th>{{ row['name'] }}</th>
            <th>{{ row['type'] }}</th>
            <th>{{ row['price'] }}</th>
            <th>{{ row['image']}}</th>
            <th><form action={{url_for('.delete')}} method="post"><input type="number" id="userid" name="item_id" value={{row['id']}}><input type="submit" value="Delete"></form></th>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}