{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Database
{% endblock %}

{% block style %}
    <link href="../static/css/style_database_gallery.css" rel="stylesheet" type="text/css" />
    <style>
        #itemTable {
            position: relative;
            top: 0px;
            left: 0px;
        }

        #itemGallery {
            position: relative;
            top: 0px;
            left: 0px;
        }

        body {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }

        .container {
          overflow: hidden;
          background-color: green;
          margin-left: auto;
            margin-right: auto;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        #all_items {
            height: 6000px;
            overflow: hidden;
        }
    </style>

{% endblock %}

{% block content %}
<div class="center">
    <div class="container"> <!-- form to add in data -->
    <form class="form-append" method="POST" action="/database"enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading">Please append data</h2>
        {{wtf.form_field(form.name)}}
        {{wtf.form_field(form.type)}}
        {{wtf.form_field(form.price)}}
        {{wtf.form_field(form.image)}}
        <button class="btn btn-lg btn-primary btn-block" type="submit">appened</button>
    </form>

    </div>

</div>

<button id="toggle_button" type="button" onclick="toggle()">show content of gallery</button>
<p id="testingNumber"></p>

<div class="jumbotron jumbotron-fluid" style="height: 50%; ">

    <div class="row justify-content-center">
        <div class="col-10" style="text-align: center;">
            <h1>Table of Items</h1>
        </div>
    </div>

    <!-- Table block is dependent on table variable and dictionary setup -->
    <table id="itemTable">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th></th><!-- this is the column with the delete button icons -->
        </tr>
        <!-- Loop through rows in table -->
        {% for row in table %}
        <!-- build elements in table -->
        <tr>
            <th>{{row['id']}}</th>
            <th>{{ row['name'] }}</th>
            <th>{{ row['type'] }}</th>
            <th>{{ row['price'] }}</th>
            <th><form action={{url_for('.delete')}} method="post"><input type="number" id="userid" name="item_id" value={{row['id']}}><input type="submit" value="Delete"></form></th>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="itemGallery">
<!-- displaying the items in a card format -->
{% for data in gallery %}
{% set id = data["id"] %}
{% set name = data["name"] %}
{% set price = data["price"] %}

<!--<p>item {{loop.index}}</p>-->
<div class="column">
    <div class="card">
        <img src={{image_link}} width=200px%>
        <div class="container" style="background-color: revert;">
            <h2>ID: {{id}}</h2>
            <h2>{{name}}</h2>
            <!--<p class="title" style="color:black;">{{tag}}</p>
            <p style="color:black;">{{description}}</p>-->
            <p style="color:black;">${{price}}</p>
            <a href=item{{loop.index}}><button class="button">add to cart</button></a> <!-- references the iteration of the loop -->
        </div>
    </div>
</div>
{% endfor %}
</div>

<script>
    var tableEl = document.getElementById("itemTable");
    var galleryEl = document.getElementById("itemGallery");
    var testEl = document.getElementById("testingNumber");//debugging to tool to demonstrate if the button press toggles
    var buttonEl = document.getElementById("toggle_button");
    var allDivEl = document.getElementById("all_items");

    let heightTable = tableEl.offsetHeight; //takes height of table
    galleryEl.style.top = "-" + String(heightTable) + "px"; //edits the top position of the gallery
    console.log("height of the table" + String(heightTable));

    //let heightGallery = galleryEl.offsetHeight; //takes height of gallery
    //console.log("height of the gallery" + String(heightGallery));

    function showTable() {
        galleryEl.style.visibility = "hidden";
        tableEl.style.visibility = "visible";
        buttonEl.innerText = "show gallery";
        //allDivEl.style.height = String(heightTable) + "px"; //to restrict the scrolling off the page

    }
    function showPara() {
        galleryEl.style.visibility = "visible";
        tableEl.style.visibility = "hidden";
        buttonEl.innerText = "show table";
        //allDivEl.style.height = String(heightGallery) + "px"; //to restrict the scrolling off the page
    }

    //toggling effect of the button
    var i = 0;
    var toggle = function(){
        i++;
        var b_mod = 1 & i;
        //testEl.textContent = b_mod;

        if (b_mod != 0){
            showTable();
        } else {
            showPara();
        }

    };

    toggle();//runs on document load

</script>

{% endblock %}