<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
<title>Top Thrift 30</title>
{% endblock %}

{% block content %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="../static/images/style.css" type="text/css">-->
    <link href="../static/css/style_gallery.css" rel="stylesheet" type="text/css" />

    <style>
        html {
          box-sizing: border-box;
        }

        *, *:before, *:after {
          box-sizing: inherit;
        }
    </style>

</head>
<body>
<div class="mid">
<h2 style="text-align:center;">{{Store_Title}}</h2><!--Reads store title form the app.py-->
<h3 style="text-align:center; color:red;"> Only {{inventory_list|length}} Left!</h3>
<p style="text-align:center;">see the top items for _____ (location) this week. Come soon, not guaranteed to stay stocked for long!</p>
</div>
    {% for data in inventory_list %} <!-- Looping through each dictionary in the list-->
    {% set name = data["name"] %}
    {% set tag = data["tag"] %}
    {% set description = data["description"] %}
    {% set price = data["price"] %}
    {% set size = data["size"] %}
    {% set store_folder_name = data["folder"] %}
    <!-- need to place the cards here -->
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="../static/images/{{store_folder_name}}/item{{loop.index}}.jpg" width=100%>
                <div class="container">
                    <h2>Item #{{loop.index}} - {{name}}</h2>
                    <!--<p>loop index = {{loop.index}}</p>-->
                    <p class="title" sytle="color:black;">{{tag}}</p>
                    <p sytle="color:black;">{{description}}</p>
                    <p sytle="color:black;">${{price}}.00</p>
                    <a href=item{{loop.index}}><button class="button">add to cart</button></a> <!-- references the iteration of the loop -->
                </div>
            </div>
        </div>
    {% endfor %}

</body>
</html>
{% endblock%}