{% extends "base.html" %}
<html lang="en">


{% block title %}
<title>Home Page</title>
{% endblock %}

{% block style %}
<style>
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 50px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: green;
}

</style>
{% endblock %}

{% block content %}

<h1> Thrifty Threads</h1>
<div class="scrollmenu">
    {% for data in inventory_list1: %} <!-- Looping through each dictonary in the list-->
    <a href="/"><img src="../static/images/thrifty_threads/item{{loop.index}}.jpg" width=100px></a>
    {% endfor %}
</div>

<h1> Barbarella</h1>
<div class="scrollmenu">
    {% for data in inventory_list2: %} <!-- Looping through each dictonary in the list-->
    <a href="/"><img src="../static/images/barbarella/item{{loop.index}}.jpg" width=100px></a>
    {% endfor %}
</div>

{% endblock %}