<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>

    <style>
        tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
</head>
<body>
<div style="margin-left: 15px;">
    <h1>Admin Page - Del Norte Eats</h1>
    <p>This page is to display all of the users and passwords people have registered in the time to thrift page</p>
    <p>there are <span>{{all_table|length}}</span> users in the system</p>
    <p>there are <span>{{table|length}}</span> users registered for del norte eats</p>



    <h1>All Users in System</h1>
    <table id="user_table2">
        <tr>
            <th>ID</th>
            <th>username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Program</th>
        </tr>
        <!-- Loop through rows in table -->
        {% for row in all_table %}
        <!-- build elements in table -->
        <tr>
            <th>{{ row['id'] }}</th>
            <th>{{ row['username'] }}</th>
            <th>{{ row['email'] }}</th>
            <th>{{ row['password'] }}</th>
            <th>{{ row['program'] }}</th>
        </tr>
        {% endfor %}
    </table>

    <h2>Users</h2>
    <table id="user_table">
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>username</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        <!-- Loop through rows in table -->
        {% for row in table %}
        <!-- build elements in table -->
        <tr>
            <th>{{ row['id'] }}</th>
            <th>{{ row['user id'] }}</th>
            <th>{{ row['username'] }}</th>
            <th>{{ row['email'] }}</th>
            <th>{{ row['password'] }}</th>
        </tr>
        {% endfor %}
    </table>




    <h2>Orders</h2>
</div>
</body>
</html>