{% extends 'easter_egg/base_egg.html' %}

{% block title %}
Admin Page
{% endblock %}

{% block style%}
<style>
    tr:nth-child(even) {background-color: #f2f2f2;}
    table { border-collapse: collapse; }
    tr { border: none; }
    td {
        border-right: solid 2px #000000;
        border-left: solid 2px #000000;
        padding-left: 5px;
        padding-right: 5px;
    }
    h2{
        margin-bottom: 0px;
    }
</style>
{% endblock %}

{% block content %}
<body>
<div style="margin-left: 15px;">
    <h1>Admin Page - Del Norte Eats</h1>
    <p>This page is to display all of the users and passwords people have registered in the time to thrift page</p>
    <p>there are <span>{{all_table|length}}</span> users in the system</p>
    <p>there are <span>{{user_table|length}}</span> users registered for del norte eats</p>
    <p>there are <span>{{runner_table|length}}</span> runners registered for del norte eats</p>

    <h2>All Users in System</h2>
    <table id="user_table2">
        <tr>
            <th>ID</th>
            <th>username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Program</th>
        </tr>
        <!-- Loop through rows in table -->
        {% for row in all_table %}
        <!-- build elements in table -->
        {% set password = row["password"] %}
        <tr>
            <td>{{ row['id'] }}</td>
            <td>{{ row['username'] }}</td>
            <td>{{ row['email'] }}</td>
            <td onmouseover="showPassword({{loop.index}}, 'password_char', 'password_real')" onmouseout="showChar({{loop.index}}, 'password_char', 'password_real')">
                <span style="display: inline;" id="password_char{{loop.index}}">
                    {% for i in password %}
                    *
                    {% endfor %}
                </span>
                <span style="display: none;" id="password_real{{loop.index}}">{{password}}</span>
            </td>
            <td>{{ row['program'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Users Del Norte Eats</h2>
    <table id="user_table">
        <tr>
            <th>ID</th>
            <th>username</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        <!-- Loop through rows in table -->
        {% for row in user_table %}
        {% set password = row["password"] %}
        <!-- build elements in table -->
        <tr>
            <td>{{ row['id'] }}</td>
            <td>{{ row['username'] }}</td>
            <td>{{ row['email'] }}</td>
            <td onmouseover="showPassword({{loop.index}}, 'password_char1', 'password_real1')" onmouseout="showChar({{loop.index}}, 'password_char1', 'password_real1')">
                <span style="display: inline;" id="password_char1{{loop.index}}">
                    {% for i in password %}
                    *
                    {% endfor %}
                </span>
                <span style="display: none;" id="password_real1{{loop.index}}">{{password}}</span>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Runners Del Norte Eats</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>username</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        <!-- Loop through rows in table -->
        {% for row in runner_table %}
        {% set password = row["password"] %}
        <!-- build elements in table -->
        <tr>
            <td>{{ row['id'] }}</td>
            <td>{{ row['username'] }}</td>
            <td>{{ row['email'] }}</td>
            <td onmouseover="showPassword({{loop.index}}, 'password_char2', 'password_real2')" onmouseout="showChar({{loop.index}}, 'password_char2', 'password_real2')">
                <span style="display: inline;" id="password_char2{{loop.index}}">
                    {% for i in password %}
                    *
                    {% endfor %}
                </span>
                <span style="display: none;" id="password_real2{{loop.index}}">{{password}}</span>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Orders</h2>
    <table id="order_table">
        <tr>
            <th>ID</th>
            <th>Time of Order</th>
            <th>Picked Up Time</th>
            <th>Delivered Time</th>
            <th>Username</th>
            <th>Price</th>
            <th>Order Contents</th>
        </tr>
        <!-- Loop through rows in table -->
        {% for row in order_table %}
        <!-- build elements in table -->
        <tr>
            <td>{{ row['id'] }}</td>
            <td>{{ row['time'] }}</td>
            <td>{{ row['picked up'] }}</td><!-- picked up-->
            <td>{{ row['delivered'] }}</td><!--delivered-->
            <td>{{ row['username'] }}</td>
            <td>{{ row['price'] }}</td>
            <td>{{ row['order contents'] }}</td>
                    </tr>
        {% endfor %}
    </table>
</div>
</body>

<script>

    function showPassword(x, idEl_char, idEl_real){
        //hiding the characters
        var idEl = idEl_char +String(x)
        var passwordChar = document.getElementById(idEl)
        passwordChar.style.display = 'none';

        //showing the password
        var idEl_string = idEl_real +String(x)
        var passwordChar_real = document.getElementById(idEl_string)
        passwordChar_real.style.display = 'inline';
    }

    function showChar(x, idEl_char, idEl_real){
        //showing the characters
        var idEl = idEl_char +String(x)
        var passwordChar = document.getElementById(idEl)
        passwordChar.style.display = 'inline';

        //hiding the password
        var idEl_string = idEl_real +String(x)
        var passwordChar_real = document.getElementById(idEl_string)
        passwordChar_real.style.display = 'none';
    }

</script>
{% endblock %}
</html>