<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title></title>
    {% endblock %}
    <link rel="stylesheet" href="../../../../static/css/style_base.css" type="text/css">
    <style>

    </style>
    {% block style %}

    {% endblock %}

</head>

<body>
<div style="margin-left: 20px; margin-bottom: 5px;">
    <h1  style= "margin-bottom: 5px;"> Del Norte Eats</h1>
    <a href="/">Go back to TimetoThrift!</a>
</div>
<!-- this is the nav bar -->
<div class="topnav">
    <a class="home" href={{url_for('easter_egg_bp.index')}}>Home</a>
    <a href="">Admin</a>
    <a href="{{url_for('.login')}}">Login</a>
    <a href="{{url_for('.signup')}}">Sign up</a>
    <a href="javascript:void(window.open('https://form.jotform.com/210330529779156','blank','scrollbars=yes,toolbar=no,width=700,height=500') ) ">Contact Us</a>
    <a href="">Future Projects</a>
    <a href="{{url_for('.timetoorder')}}">Order Now</a>

</div>
{% block content %}{% endblock %}
</body>
</html>

