{% extends 'easter_egg/base_egg.html' %}
<html lang="en">

{% block title %}
<title>Del Norte Eats</title>
{% endblock %}

{% block style %}
<style>
.margin_1 {
    margin-left: 10px;
}
</style>
{% endblock %}


{% block content %}
<div class="margin_1">
    <p>Select the buttons to see the user flow for the webpage</p>

<div>
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT5wmQ9KfETIFEoPsReEro-yeMiGkATErANCXFBFmC35ew0z4dpnz-R3CeeO13iLOtKqchKz7l_uxb9/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>

    <div>
        <img src="../static/images/DNHSpitures/campusmap.jpg" usemap="#image-map">

        <map name="image-map">
            <area target="_blank" alt="DNHS stadium" title="DNHS stadium" href="example.com" coords="783,1464,513" shape="circle">
        </map>
    </div>

</div>
{% endblock %}