{% extends "base_egg.html" %}
<html lang="en">


{% block title %}
<title>Dinero Exchange</title>
{% endblock %}

{% block style %}
<style>
.margin_1 {
    margin-left: 10px;
}
</style>
{% endblock %}


{% block content %}
<div class="margin_1">
<p>Welcome to the easter egg home page!</p>
<p>We look to achieve the following</p>
    <ul>
        <li>Document for College Board Requirements</li>
        <li>A page for "who am I in computer science"</li>
        <li>Execute our newest novel idea "Del Norte Eats"</li>
    </ul>

    <p>Select the buttons to see the user flow for the webpage</p>

<div>
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT5wmQ9KfETIFEoPsReEro-yeMiGkATErANCXFBFmC35ew0z4dpnz-R3CeeO13iLOtKqchKz7l_uxb9/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>

</div>
{% endblock %}