{% extends 'easter_egg/base_egg.html' %}
<html lang="en">

{% block title %}
Order Now
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">


    <div class="horizontal-scroll-wrapper squares">
        <div>item 1</div>
        <div>item 2</div>
        <div>item 3</div>
        <div>item 4</div>
        <div>item 5</div>
        <div>item 6</div>
        <div>item 7</div>
        <div>item 8</div>
    </div>

    <style>
        .horizontal-scroll-wrapper {
  width: 100px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.horizontal-scroll-wrapper > div {
  width: 100px;
  height: 100px;
}
.horizontal-scroll-wrapper {
  ...
  transform: rotate(-90deg);
  transform-origin: right top;
}
.horizontal-scroll-wrapper {
  ...
  transform:rotate(-90deg) translateY(-100px);
  ...
}

    </style>

</head>
<body>

</body>
{% endblock %}