{% extends 'easter_egg/base_egg.html' %}
<html lang="en">

{% block title %}
Single page form
{% endblock %}

{% block style %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('easter_egg_bp.static', filename='singlepage_form.css') }}" type="text/css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

<style>
    .margin_1 {
        margin-left: 10px;
    }
</style>
{% endblock %}


{% block content %}
<div class="margin_1">
    <p>To test out all the inputs without needing to deal with javasript problems</p>
    <form>

        <!-- this is the snack selection area -->
        <table>
        {% for data in snack_list %}
        {% set name = data["name"] %}
        {% set tag = data["price"] %}
        {% set max_count = data["max_count"] %}

        <tr>
            <td style="column-width: 100px;"><img src="../static/images/delnorteeatsfood/snack{{loop.index}}.jpg" width=50px></td>
            <td style="max-width: 100px">{{name}}</td>
            <td>
                <span class="dec" onclick="dec('qty'+String({{loop.index}}), {{loop.index}})">&zwnj; - &zwnj;</span>
                <input class="number_input" readonly value="0" oninput="this.className = ''" name="qty{{loop.index}}">
                <span class="inc" onclick="inc('qty'+String({{loop.index}}), {{loop.index}}, '{{name}}', {{max_count}})">&zwnj; + &zwnj;</span>
            </td>
            <td style="max-width: 180px;">
                <span id="error_msg{{loop.index}}" style="color:red;"></span>
            </td>
        </tr>

        {% endfor %}
        </table>
        <br>
        <label>Items in Shopping Cart:</label>
        <!-- need display here to with javascript-->
        <br>

        <label> Location to deliever to:</label>
        <!--
        <p>{{building_list|length}}  locations</p>
        {% for building in building_list %}
            <p>{{building}}<p>
        {% endfor %}

        <p>number of class_rooms: {{class_rooms|length}}</p>
        {% for room in class_rooms %}}
        <div>
            {% set room = room["room"] %}
                {% for number in room %}
                <span>{{number}}</span>
                {% endfor %}
        </div>
        {% endfor %}
        -->

        <select name="buildings_group" id="buildings_group">
            {% for building in building_list %}
            <option value="{{building}}">{{building}}</option>
            {% endfor %}
        </select>

        <!-- hidden options, will be revealed when selected the above selector-->
        {% for room in class_rooms %}
        <div>
            {% set room = room["room"] %}
            <select name="{{room}}" id="{{room}}" style="visibility: hidden;">
                {% for number in room %}
                <option value="{{number}}">{{number}}</option>
                {% endfor %}
            </select>

        </div>
        {% endfor %}
<!--        <label for="db">Choose type</label>
        <select name="dbType" id="dbType">
            <option>Choose Building</option>
            <option value="mysql">Food Court</option>
            <option value="mysql">Library</option>
            <option value="oracle">(Tech Electives) A buildings</option>
            <option value="mssql">(Arts Buildings) P buildings</option>
            <option value="mysql">L buildings</option>
            <option value="mysql">K buildings</option>
            <option value="mysql">L buildings</option>
            <option value="mysql">J buildings</option>
            <option value="mysql">G buildings</option>
            <option value="mysql">E buildings</option>
            <option value="mysql">D buildings</option>
            <option value="mysql">R buildings</option>
            <option value="mysql">(Gym) B Buildings</option>
            <option value="other">Other</option>
        </select>
        <div id="otherType" style="display:none;">
            <label for="specify">Specify</label>
            <input type="text" name="specify" placeholder="Specify Databse Type"/>
        </div>
        <div id="otherType" style="display:none;">
            <label for="specify">Specify</label>
            <input type="text" name="specify" placeholder="Specify Databse Type"/>
        </div>
        <br>
        <br>
        <br>
        <br>
-->
    </form>
</div>


<script>
    function inc(element, increment_numb, item, max) {
        let el = document.querySelector(`[name="${element}"]`); //differentiates between items
        if (el.value >= max){ //when the input is maxed pressed one over max
            console.log(String(el));
            //max number of items that one can purchase
            el.value = max;

            //constructs the error message based on the item that was passed in
            document.getElementById("error_msg" + increment_numb).innerHTML = "cannot purchase more than "+ max + " "+ item +"(s)";

            //allows error messages to fade out after a certain time
            setTimeout(function(){ document.getElementById("error_msg" + increment_numb).innerHTML =""; }, 3000);
        } else {
            console.log(String(el));
            //incrementing by +1
            el.value = parseInt(el.value) + 1;
        }
    }

    function dec(element, increment_numb) {
        let el = document.querySelector(`[name="${element}"]`); //differentiates between items
        if (parseInt(el.value) > 0) { //if the item count is greater than 0
            console.log(String(el));

            //decrement the count by 1
            el.value = parseInt(el.value) - 1;

            //takes away the error message
            document.getElementById("error_msg" + increment_numb).innerHTML = "";
        }
    }
</script>
<script>
    $('#dbType').on('change',function(){
        var selection = $(this).val();
        switch(selection){
            case "other":
                $("#otherType").show()
                break;
            default:
                $("#otherType").hide()
        }
    });
</script>
{% endblock %}