{% extends 'easter_egg/base_egg.html' %}
<html lang="en">

{% block title %}
Single page form
{% endblock %}

{% block style %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('easter_egg_bp.static', filename='singlepage_form.css') }}" type="text/css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

<style>
    .margin_1 {
        margin-left: 10px;
    }
</style>
{% endblock %}


{% block content %}
<body onmousedown="total_cost_func({{snack_list|length}})">
<div class="margin_1">
    <p>To test out all the inputs without needing to deal with javasript problems</p>
    <form>

        <!-- this is the snack selection area -->
        <!--{{snack_list|length}}-->
        <table>
        {% for data in snack_list %}
        {% set name = data["name"] %}
        {% set price = data["price"] %}
        {% set max_count = data["max_count"] %}

        <tr>
            <td style="column-width: 50px;"><img src="../static/images/delnorteeatsfood/snack{{loop.index}}.jpg" width=50px></td>
            <td style="max-width: 100px">{{name}}</td>
            <td style="width: 25px"><input id="unit_cost{{loop.index}}" value="{{price}}" type="hidden">{{price}}</td>
            <td>
                <span class="dec" onclick="dec('qty'+String({{loop.index}}), {{loop.index}})">&zwnj; - &zwnj;</span>
                <input class="number_input" readonly value="0" oninput="this.className = ''" name="qty{{loop.index}}">
                <span class="inc" onclick="inc('qty'+String({{loop.index}}), {{loop.index}}, '{{name}}', {{max_count}})">&zwnj; + &zwnj;</span>
            </td>
            <td style="width: 25px">
                <input type="hidden" id="item_cost{{loop.index}}" value="0">
                <span id="item_cost{{loop.index}}_frontend">0</span>
            </td>
            <td style="max-width: 180px;">
                <span id="error_msg{{loop.index}}" style="color:red;"></span>
            </td>
        </tr>

        {% endfor %}
        </table>
        <div style="background-color: #342F2F; padding: 10px; color: white; border-radius: 10px; width: 150px" onclick="reset_all_selection()">Clear all selection</div>
        <div style="color: black" onclick="total_cost_func(19)">Total cost: <span id="total_cost"></span></div>
        <span style="color: #ff0000; visibility: visible;" id="total_cost_msg">testing</span>
        <br>
        <label>Items in Shopping Cart:</label>
        <!-- need display here to with javascript-->
        <br>

        <label> Location to deliever to:</label>
        <select name="buildings_group" class="buildings_group">
            {% for building in building_list %}
            <option value="room{{loop.index}}">{{building}}</option>
            {% endfor %}
        </select>

        <div class="result"></div>

        <!-- hidden options, will be revealed when selected the above selector-->
        <label id="room_label">Room Number:</label>
        {% for room in class_rooms %}
        <span>
            {% set room = room["room"] %}
            <!--<label>room {{loop.index}}</label>-->
            <select name="room" id="room{{loop.index}}" style="visibility: hidden; position: absolute;">
                {% for number in room %}
                <option value="{{number}}">{{number}}</option>
                {% endfor %}
            </select>

        </span>
        {% endfor %}


        <br>
        <br>
        <br>
        <br>
        <br>
    </form>
</div>
</body>

<script>

    function cost_calc(multiplier, increment_numb){
        var unit_cost = document.getElementById('unit_cost'+ increment_numb);
        var item_cost = document.getElementById('item_cost'+increment_numb);
        var item_cost_frontend = document.getElementById('item_cost'+increment_numb+"_frontend");
        //calculating the value used for back end calculations
        item_cost.value = String(multiplier * unit_cost.value);

        //front end display
        item_cost_frontend.innerHTML = String(multiplier * unit_cost.value);
    };

    function inc(element, increment_numb, item, max) {
        let el = document.querySelector(`[name="${element}"]`); //differentiates between items
        if (el.value >= max){ //when the input is maxed pressed one over max
            //console.log(String(el));
            //max number of items that one can purchase
            el.value = max;

            //constructs the error message based on the item that was passed in
            document.getElementById("error_msg" + increment_numb).innerHTML = "cannot purchase more than "+ max + " "+ item +"(s)";

            //allows error messages to fade out after a certain time
            setTimeout(function(){ document.getElementById("error_msg" + increment_numb).innerHTML =""; }, 3000);
        } else {
            //console.log(String(el));
            //incrementing by +1
            el.value = parseInt(el.value) + 1;
            cost_calc(el.value, increment_numb);
        }
    };

    function dec(element, increment_numb) {
        let el = document.querySelector(`[name="${element}"]`); //differentiates between items
        if (parseInt(el.value) > 0) { //if the item count is greater than 0
            console.log(String(el));

            //decrement the count by 1
            el.value = parseInt(el.value) - 1;

            //takes away the error message
            document.getElementById("error_msg" + increment_numb).innerHTML = "";
            cost_calc(el.value, increment_numb);
        }
    };

    var total_cost = document.getElementById('total_cost');
    var slides = document.getElementsByClassName("number_input");

    function reset_all_selection(){
        console.log('reset_all_selection');
        for (var i = 0; i < slides.length; i++) {
            slides.item(i).value = 0;
        }
        for (i = 1; i <= slides.length; i++) {
            //console.log(i);
            document.getElementById('item_cost' + String(i)).value = 0; //resetting the backend
            document.getElementById('item_cost'+String(i)+"_frontend").innerHTML = 0; //resetting the frontend
            //item_cost_frontend
        }
    }

    function total_cost_func(quanity){
        var result = 0;
        //iterate through all 19 items to add up the total cost
        for (i = 1; i <= quanity; i++) {
            //console.log(i);
            var el_add = document.getElementById('item_cost' + String(i) );
            //console.log(el_add);
            var result = result + Number(el_add.value)
        };
        //console.log(result)
        //this is the value that the user sees
        total_cost.innerHTML = result;

        if (total_cost.innerHTML < 1){
            console.log('less than 1');
            document.getElementById('total_cost').style.color = 'red'; //to ensure that the fields that are red are incorrect/need notice
            document.getElementById('total_cost_msg').innerHTML = 'You need to select at least one of the items';
        } else {
            document.getElementById('total_cost').style.color = 'black';
            document.getElementById('total_cost_msg').innerHTML = '';
        }
    };
    //run on init (19) because there are 19 items
    total_cost_func(19);
</script>
<script>
    var quanity_room = 15;
    const selectElement = document.querySelector('.buildings_group');

    selectElement.addEventListener('change', (event) => {
        //first set all of the items to hidden
        for (var i = 1; i <= quanity_room; i++) {
            //console.log('room' + String(i));
            document.getElementById('room' + String(i)).style.visibility = 'hidden';
        };

        //const result = document.querySelector('.result');
        //result.textContent = `Rooms for ${event.target.value}`;

        //only show the rooms that corresponds with the building
        var room_el = document.getElementById(String(event.target.value));
        room_el.style.visibility = 'visible';
    });

    //consider looking in here: https://stackoverflow.com/questions/21306134/iterating-over-multiple-lists-in-python-flask-jinja2-templates
    //for multiple lists itterated over in one loop

</script>
{% endblock %}