{% extends 'easter_egg/base_egg.html' %}
<html lang="en">

{% block title %}
{% if current_user.is_anonymous  %}
Guest Dashboard
{% else %}
{{current_user.username}}'s Dashboard
{% endif %}
{% endblock %}

{% block style %}
<style>
    .margin_1 {
        margin-left: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="margin_1">
    {% if current_user.is_anonymous  %}
    <p>Welcome Guest</p>
    {% else %}
    <p>Welcome <span>{{current_user.username}}</span></p>

    <form action={{url_for('easter_egg_bp.logout')}} method="post"><input type="submit" value="Log Out"></form>
    {% endif %}


</div>
{% endblock %}

