{% extends "base.html" %}
<html lang="en">

{% block title %}
Admin
{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/css/style_home.css" type="text/css">
{% endblock %}

{% block content %}
<div style="margin-left: 15px;">
    <p>This page is to display all of the users and passwords people have registered in the time to thrift page</p>

    <table id="user_table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Shopping Cart</th>
            <th>User Status</th>
        </tr>
        <!-- Loop through rows in table -->
        {% for row in table %}
        <!-- build elements in table -->
        <tr>
            <th>{{ row['id'] }}</th>
            <th>{{ row['username'] }}</th>
            <th>{{ row['email'] }}</th>
            <th>{{ row['password'] }}</th>
            <th>{{ row['shopping_cart_column'] }}</th>
            <th>{{ row['authen'] }}</th>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}